{
border: 1px solid blue;
}
body {
font-family: 'Open Sans';
font-size: 15px;
}
nav {
width: 100%;
min-height: 100px;
text-align: center;
position: fixed;
z-index: 99;
background: #C2662D;
top: 0;
border-bottom: 3px solid #694935;
}
nav h3 {
color: black;
}
nav a {
color: black;
}
.div-catcher {
min-height: 300px;
margin-bottom: 15px;
}
footer {
min-height: 100px;
border-top: 3px solid #694935;
}
nav a {
display: inline;
color: black;
}
a:hover {
color: black;
text-decoration: none;
}
a:link {
outline:none;
text-decoration: none;
}
a:visited {
color: black;
text-decoration: none;
}
.img-hupajlo {
height: 400px;
background-image: url('../img/hupajlo.jpg');
background-size: 100% 100%;
border: 3px solid #694935;
}





* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  line-height: 34px;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  float: left;
}


/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}
.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #BF5900;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #69380E, 0.6em 0 0 0 #69380E;
  box-shadow: 0.5em 0 0 0 #69380E, 0.6em 0 0 0 #69380E;
}
.sidebar #close {
  float: right;
  margin: -5.5rem 1rem;
  font-size: 1.4em;
  color: #69380E;
  text-align: right;
}
.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #69380E;
  box-shadow: 0 0 0 #69380E;
}
.sidebar h2 {
  padding: .5em;
  color: black;
}
.sidebar ul {
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  float: left;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 2px solid #69380E;
  background: #CC8C54;
  color: #69380E;
}
.sidebar ul li a {
  color: white;
}
.sidebar ul li:hover {
  background: #69380E;
  border-color: #69380E;
}

/* Blurred class

This class is added to the container 
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-filter: url(#blur);
  filter: url(#blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
}

#trigger {
color: #69380E;
position: fixed;
z-index: 100;
right: 10px;
top: 5px;
font-weight: bold;
font-size: 40px;
}

/* Scroll to Top */
.scrollToTop{
	text-decoration: none;
	position:fixed;
	bottom: 40px;
	right:40px;
	display:none;
	font-weight: bold;
	font-size: 40px;
	z-index: 111;
}
i {
	color: #472201;
}
.scrollToTop:hover{
	text-decoration:none;
}
/*parallax scrolling*/
.parallax {
    /* The image used */
    background-image: url('../img/parallax.jpg');

    /* Full height */
    height: 100%;
    width: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wizytowka {
position: absolute;
right: 40%;
top: 40%;
color: white;
text-align: center;
font-weight: bold;
text-shadow: 2px 2px 2px black;
}
.wizytowka i {
color: white;
font-weight: bold;
text-shadow: 2px 2px 2px black;
}
.fa-chevron-down {
color: white;
text-shadow: 2px 2px 2px black;
}
a.button {
position: absolute;
right: 50%;
bottom: 2%;
font-size: 40px;
font-weight: bold;
}

